.textEditor {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #000000;

    :global {
        .ql-container {
            flex: 1;
            height: 100%;
            border: none !important;
            background: #1f1f1f;
            color: #fff;
        }

        .ql-toolbar {
            background: #272727;
            border: none !important;
            padding: 5px;

            button {
                color: #fff !important;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}
