.wrapper {
    height: calc(0.7 * var(--logo-navbar-height));
    width: calc(0.7 * var(--logo-navbar-height));
    border: 1px solid #ccc;
    border-radius: 50%;
}

.avtImg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
