.wrapper {
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.children {
    width: 100%;
    margin-top: var(--nav-bar-height);
}
