.wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--background-color);
}

.actions {
    width: 100%;
    padding: 0 var(--code-editing-padding);
    background-color: #151515;
}
