.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//
.homeComponents {
    margin-top: 50px;
}

// Slider
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sliderImg {
    width: 100%;
}

// Problem Daily
.homeComponentsHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.seeMore {
    color: var(--primary-text-color);
    min-width: 100px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.seeMoreIcon {
    margin-left: 5px;
}

.problemDaily {
    width: 100%;
}

.problemDailyNames {
    display: flex;
    width: 100%;
}

.category {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 50px;
    color: #9d9da3;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
}

.category::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 2px;
    background-color: var(--primary-text-color);
    transform: translateX(-100%);
}

.yourSkillCategory,
.contestBriefCategory,
.problemDailyName.active {
    color: var(--primary-text-color);
}

.yourSkillCategory::after,
.contestBriefCategory::after,
.problemDailyName.active::after {
    width: 50%;
    animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

.problemDailyItem {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notFirst {
    margin-left: 3.6%;
}

//
.contests {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

//
.skillWrapper {
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background: var(--background-component-color);
    border-radius: 10px;
    border: 1px solid #ccc;
}

//
.footer {
    height: 100px;
}
