.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.register-box {
    width: 520px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group input {
    width: 500px;
    max-width: 450px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-group {
    position: relative;
    display: flex;
    align-items: center;
}

.password-group input {
    width: 100%;
    padding: 12px;
    margin-right: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.eye-icon {
    position: absolute;
    right: 20px;
    top: 7px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.register-button {
    width: 450px;
    align-items: center;
    padding: 12px;
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.register-button:hover {
    background-color: #0284c7;
}

.social-login {
    margin-top: 20px;
}

.social-icons img {
    width: 40px;
    margin: 10px;
    cursor: pointer;
}
