.sidebar {
    width: 250px;
    background: linear-gradient(to bottom, #0056b3, #007bff);
    color: white;
    padding: 20px;
    height: 100vh;

    h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 10px;
            margin: 5px 0;
            cursor: pointer;
            background: #0066cc;
            text-align: center;
            border-radius: 5px;
            transition: background 0.3s;

            &:hover {
                background: #0056b3;
            }
        }

        .active {
            background: #004080;
        }
    }
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;

    h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 20px; // Adds space between input and button
        }

        .create-btn {
            padding: 8px 12px;
            background: #28a745;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s;
            margin-left: auto;
            &:hover {
                background: #218838;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background: #ccc;
            font-weight: bold;
        }

        .edit-btn {
            color: blue;
            background: none;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }

        .delete-btn {
            color: red;
            background: none;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
    }

    .pagination {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        button {
            padding: 5px 10px;
            margin: 0 3px;
            border: none;
            background: #007bff;
            color: white;
            cursor: pointer;
            border-radius: 4px;

            &.active {
                background: #004080;
            }

            &:hover {
                background: #0056b3;
            }
        }
    }
}
