.wrapper {
    width: 18%;
    aspect-ratio: 1 / 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--background-component-color);
    color: var(--text-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(32, 56, 128, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.name,
.point,
.author {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.name {
    font-weight: 600;
    position: absolute;
    top: 10px;
}

.point {
    font-size: 1.4rem;
}

.problemLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.problemImg {
    width: 35%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid #fff 1px;
    margin: 4px 0 4px 0;
}

.author {
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 600;
}

.footer {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 90%;
    border-top: 1px solid #000;
    justify-content: space-between;
}

.numberSubmissionSpan {
    font-weight: 600;
}

.numberSubmission,
.numberPass {
    font-size: 1.4rem;
}

.status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.status.error {
    color: rgb(255, 36, 36);
}

.status.warning {
    color: rgb(252, 252, 13);
}

.status.success {
    color: rgb(7, 226, 7);
}
