.wrapper {
    width: 48%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: var(--background-component-color);
    color: #fff;

    &:hover {
        transform: translateY(-5px);
    }
}

.bannerImg {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 4 / 1;
    cursor: pointer;
}

//
.info {
    padding: 0 20px;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}
.level {
    font-weight: 500;
    font-size: 1.4rem;
}

.level.hard {
    color: var(--hard-level-color);
}

.level.medium {
    color: var(--medium-level-color);
}

.level.easy {
    color: var(--easy-level-color);
}

.totalPoint {
    margin-top: 10px;
}

.numberRegisterNumber,
.dueTimeNum,
.totalPointNum {
    font-weight: 600;
    color: #ffa116;
    margin-left: 7px;
}

.endDate {
    font-size: 1.8rem;
    margin-top: 5px;
}

.numberRegister {
    margin-top: 10px;
    font-size: 1.8rem;
}

.numberRegisterNumber {
    margin-right: 7px;
}

//
.register {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    background: var(--background-component-color);
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
    background: linear-gradient(to bottom, #ffa116, #cc7500);
    background: linear-gradient(to bottom, #ffa116, #a65200);
    background: linear-gradient(to bottom, #ffa116, #733800);
}
