.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.inputt,
.input,
.select,
.file-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

    &:hover {
        border-color: #888;
    }
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.submit-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
