.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    .topbar {
        display: flex;
        gap: 10px;
    }
    .comment_space {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 10px;
        align-items: flex-start;
        .comment_content {
            width: 760px;
            min-height: 96px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .comment_infor img {
                max-width: 100%;
            }
        }

        .comment_Note {
            width: 300px;
            min-height: 96px;
            align-self: flex-start;
            position: sticky;
            top: 10px;
            .comment_action {
                display: flex;
                gap: 10px;
            }
        }
        .comment_Note,
        .comment_content {
            border: 2px solid black;
            border-radius: 10px;
            background-color: azure;
            padding: 10px;
        }
    }

    .pagination {
        display: flex;
        gap: 10px;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
}
